body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #141414;
}

.gradient
{
  --size: 300px;
  --speed: 25s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(252, 59%, 19%), hsl(228, 29%, 30%), hsl(0, 0%, 55%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -1;
  position: absolute;
}

#gradient-container
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150px, -125px);
}

@keyframes rotate
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.page-transition,
.page-hidden
{
  transition: opacity 1s ease-in-out;
  background-color: #141414;
}
.page-transition { opacity: 1; }
.page-hidden
{
  opacity: 0;
  pointer-events: none;
}

@font-face
{
  font-family: 'font1';
  src: url('/ond/font/font1.woff2') format('woff2');
}
@font-face
{
  font-family: 'font2';
  src: url('/ond/font/font2.woff2') format('woff2');
}

.background
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: auto;
}

.ondlogo
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  opacity: 0.05;
  pointer-events: none;
  z-index: 0;
}

.container
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-rows
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  z-index: 1;
}

.button-row
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  max-width: 500px;
  width: 100%;
  justify-items: center;
  opacity: 0;
  animation: fadeInButtons 1.5s ease forwards;
}

.row1 { animation-delay: 1s; }
.row2 { animation-delay: 2.5s; }

@keyframes fadeInButtons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button
{
  font-family: 'font2', Arial, sans-serif;
  font-size: 1em;
  padding: 12px 20px;
  width: 220px;
  height: 50px;
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #707070;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover
{
  border-color: #c9c9c9;
  box-shadow: 0 0 13px rgba(144, 147, 150, 0.8);
}

.button:not(:hover)
{
  box-shadow: 0 0 0px rgba(144, 147, 150, 0.8);
  border-color: #c9c9c9;
}

.button:active
{
  box-shadow: 0 0 12px rgba(144, 147, 150, 0.4);
}


@media (max-width: 600px)
{
  .button-row
  {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .button
  {
    width: 180px;
    height: 45px;
    font-size: 0.95em;
    padding: 10px 16px;
  }
}
